.cardContainer {
    width: 13rem;
    height: 12rem;
    flex-shrink: 0;
    border-radius: 0.7rem;
    /* box-shadow: 0px 10px 8px #999; */
    box-sizing:border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
    margin: 0.5rem;

    border: 6px solid #11B800;
}
.cardContainerNOborder{
    width: 13rem;
    height: 12rem;
    flex-shrink: 0;
    border-radius: 0.7rem;
    /* box-shadow: 0px 10px 8px #999; */
    box-sizing:border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
    margin: 0.5rem;
}
.cardContainer:hover{
    cursor: pointer;
    scale: 1.05;
    color: white;
}
.cardContainer:active{
    scale: 0.95;
}
.cardContainerNOborder:hover{
    cursor: pointer;
    scale: 1.05;
    color: white;
}
.cardContainerNOborder:active{
    scale: 0.95;
}

.cardImg {
    width: 100%;
    border-radius: 0.7rem;

    width: 15;
    height: 10;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.55);
}

.cardTitle {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 0 0 15px 0;
}